<%- include('layouts/header-edit') %>

    <h2>Edit Galeri</h2>
    <div class="table-responsive">
        <% for(row of rows) { %>
            <form action="<%= row.id_galeri %>" method="post">
                <div class="mb-3">
                    <label for="namagaleri" class="form-label">Nama</label>
                    <input type="text" class="form-control" name="nama" value="<%= row.nama_galeri %>">
                </div>
                <div class="mb-3">
                    <label for="detailgaleri" class="form-label">Detail Visi Misi</label>
                    <textarea class="form-control" name="detail" rows="10" id="tiny"><%= row.detail_galeri %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <% } %>
    </div>

    <%- include('layouts/footer') %>