<%- include('layouts/header-edit') %>

    <h2>Edit Kejuruan</h2>
    <div class="table-responsive">
        <% for(row of rows) { %>
            <form action="<%= row.id_kejuruan %>" method="post">
                <div class="mb-3">
                    <label for="namakejuruan" class="form-label">Nama</label>
                    <input type="text" class="form-control" name="nama" value="<%= row.nama_kejuruan %>">
                </div>
                <div class="mb-3">
                    <label for="detailkejuruan" class="form-label">Detail Visi Misi</label>
                    <textarea class="form-control" name="detail" rows="10"
                        id="tiny"><%= row.detail_kejuruan %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <% } %>
    </div>

    <%- include('layouts/footer') %>